<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

    <div *ngFor="let order of seatOneOrders; let i = index">
        <div *ngFor="let seat of order.payload.doc.data().seatOneOrder">
    
          <button type="submit"
              id="submit-button"
              (click)="markCompleted(order)"
              (click) = "onSaveOnFirebase()">Je supprime l'orchestre 26</button>

          <div *ngIf="order.payload.doc.data().completed">
            <button type="submit"
            id="submit-button-def"
            (click)="getSeatIds()"
            (click)="deleteOrder(order)"
            (click) = "onSaveOnFirebase()"
            routerLink="/home-result">Je confirme supprimer l'orchestre 26</button>
          </div>
    
        </div>
      </div>
</form>
