.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100%;
    width: 460px;
    height: 700px;
    color: var(--color-white);
    font-size: 48px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    line-height: 1.2;
    margin-left: 130px;
  }
  .at-item {
    animation-name: blur-out-expand;
    animation-duration: 2.2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: none;
    /* shorthand 
    animation: blur-out-expand 2.2s ease 0s 1 reverse none;
    */ 
  }
  @keyframes blur-out-expand {
    0%{
      filter: blur(.01);
    }
    100%{
      letter-spacing: 1em;
      filter: blur(12px) opacity(0%);
    }
  }