<footer class="background-fluo">
  <div class="box box-bottom-120">

    <div routerLinkActive = "active" class="one item-margin">
      <a routerLink = "/part01" class="menu-item">
        <span class="js-blur">My Web Factory</span>
      </a>
    </div>

    <!-- <div class="two">
      <p class="point">  </p>
    </div> -->

    <div routerLinkActive = "active" class="two item-margin">
      <a routerLink = "/part02" class="menu-item">
        <span class="js-blur">Mobile Project</span>
      </a>
    </div>

    <!-- <div class="four">
      <p class="footer-vertical-lines"></p>
    </div> -->

    <div routerLinkActive = "active" class="three item-margin">
      <a routerLink = "/part03" class="menu-item">
        <span class="js-blur">Visuals Exibition</span>
      </a>
    </div>

  <!-- hh -->

    <div routerLinkActive = "active" class="one item-margin">
      <a routerLink = "/part04" class="menu-item">
        <span class="js-blur">Movies & Screanplays</span>
      </a>
    </div>

    <!-- <div class="two">
      <p class="footer-vertical-lines"></p>
    </div> -->

    <div routerLinkActive = "active" class="three item-margin">
      <a routerLink = "/part05" class="menu-item">
        <span class="js-blur">About Me & Contact</span>
      </a>
    </div>
  </div>

    <div class="whiteLineHorizontal"></div>

    <!-- <div class="four">
      <p class="footer-vertical-lines"></p>
    </div> -->

  <div class="box box-bottom">
    <div routerLinkActive = "active" class="five">
      <a routerLink = "/main" class="menu-item-bottom">
        <span class="js-blur">Back to Home</span>
      </a>
    </div>

    <!-- <div class="six">
      <p class="footer-vertical-lines"></p>
    </div>

    <div routerLinkActive = "active" class="seven">
      <a routerLink = "part01" class="menu-item">
        <span class="js-blur">My Web Factory</span>
      </a>
    </div> -->
  </div>
  <!-- </div> -->
</footer>
