<section class="container">

  <div class="row">
    <div class="resa-left">
      <app-order-reservation-picture-ter class="background-resa-admin-home layout-resa-picture-home"></app-order-reservation-picture-ter>
    </div>
    <div class="resa-right">
      <h1>Exemples de requètes</h1>

      <a routerLink="/date" class="links">Par dates d'inscription décroissante</a>
      <a routerLink="/country" class="links">Par pays</a>
      <a routerLink="/usa" class="links">Les spectateurs américains</a>
      <a routerLink="/age" class="links">Par pays et par âges</a>

      <h1>Exemples de graphiques</h1>

      <a routerLink="/graphic" class="links">Par pays</a>
      <a routerLink="/graphic" class="links">Par pays</a>

      <app-order-reservation-list></app-order-reservation-list>
      <app-order-reservation-list-query-date></app-order-reservation-list-query-date>
      <app-order-reservation-list-query-country></app-order-reservation-list-query-country>
      <app-order-reservation-list-query-usa></app-order-reservation-list-query-usa>
      <app-order-reservation-list-query-country-age></app-order-reservation-list-query-country-age>
      <app-order-reservation-list-query-france-age></app-order-reservation-list-query-france-age>
      <app-order-reservation-list-query-usa-tom-age></app-order-reservation-list-query-usa-tom-age>
    </div>
  </div>

</section>
