<section class="container">

  <div class="row">

    <div class="resa-left">
      <app-order-reservation-picture-ter class="background-resa-admin-home layout-resa-picture-home"></app-order-reservation-picture-ter>
    </div>

    <div class="resa-right">
      <app-order-reservation-list></app-order-reservation-list>
      <app-order-reservation-list-query-date></app-order-reservation-list-query-date>
      <app-order-reservation-list-query-country></app-order-reservation-list-query-country>
      <app-order-reservation-list-query-usa></app-order-reservation-list-query-usa>
      <app-order-reservation-list-query-country-age></app-order-reservation-list-query-country-age>
      <app-order-reservation-list-query-france-age></app-order-reservation-list-query-france-age>
      <app-order-reservation-list-query-usa-tom-age></app-order-reservation-list-query-usa-tom-age>
    </div>
  </div>

</section>
