<form #myForm="ngForm" [formGroup]="this.ordersService.form">
  <li *ngFor="let seatOne of seatOneOrder">
    <div *ngIf="showDiv.current">
  
      <button
      id="submit-button"
      (click)="onSubmit()"
      (click) = "onSaveOnFirebase()"
      >Réserver ce siège</button>
  
      <button
      id="submit-button"
      routerLink="confirmation">Valider ma commande</button>
  
      <span class="col s9" id="fields"> {{ seatOne }} </span>
      <a class="col s9" (click)="removeSeatOne(seatOne)">J'ai changé d'avis pour ce siège</a>
  
    </div>
  </li>
</form>
