<div class="center">
  
  <h1>Par âges et uniquement les pays étrangers</h1>

  <button type="submit" id="submit-button-graphics-back" routerLink="/hub">Retour</button>
  <button type="submit" id="submit-button-graphics" routerLink="/graphic">Doughnut</button>
  <button type="submit" id="submit-button-graphics" routerLink="/pie">Pie</button>
  <button type="submit" id="submit-button-graphics" routerLink="/bar">Bar</button>
  <button type="submit" id="submit-button-graphics-enable">Polar Area</button>

  <div class="responsivePie background-white" id="legend">
    <canvas baseChart id="seatsChart">
  </canvas>
  </div>

</div>