<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

      <!-- <h2> {{ seatStatus }} </h2> -->
      
      <!-- ----------- Balcon ------------ -->

      <!-- each seats names inside the button -->
      <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      [hidden]="seatKind === 'Orchestre'"
      (click)="onSwitchOn()"
      [value]="seatName.id"
      >{{ seatName }}</button>

      <!-- research to remove each seat selected 
      ( give up because not usefull in that case - not finished) -->

      <div *ngFor="let seat of seatOneOrders  | valueArray; let i = index">
            
            <!-- display for all buttons off -->
            <!-- <button type="submit"
            id="items-delete-button-change-mind"
            *ngIf="seatStatus === 'éteint' && i===0"
            [hidden]="seatKind === 'Orchestre'"
            (click)="onSwitchOff()"
            [value]="seatStatus[i].id">J'ai changé d'avis
            </button> -->

            <!-- display if buttons on, each by seatName -->

            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===0
            && seatStatus === 'éteint'"
            (click)="onSwitchOff()"
            (click)="deleteOrder(order)"
            [index]="i"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>
      </div>

      <!-- Orchestre -->
      <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      [hidden]="seatKind === 'Balcon'"
      (click)="onSwitchOn()"
      [value]="seatName.id"
      >{{ seatName }}</button>

      <!-- not available -->
      <button type="submit"
      id="notAvailable"
      *ngIf="seatStatus === 'éteint'"
      disabled="{{buttonDisabled}}"
      [value]="seatName.id"
      (click)="onSwitchOn()">{{ seatName }}</button>

</form>
