<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

      <!-- <h2> {{ seatName }} </h2>
      <h2> {{ seatStatus }} </h2> -->
      
      <!-- ----------- Balcon ------------ -->

      <!-- each seats names inside the button -->
      <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      [hidden]="seatKind === 'Orchestre'"
      (click)="onSwitchOn()"
      [value]="seatName.id"
      >{{ seatName }}</button>

      <!-- research to remove each seat selected 
      ( give up because not usefull in that case - not finished) -->

      <div *ngFor="let seat of seatOneOrders; let i = index">
            
            <!-- display for all buttons off -->
            <button type="submit"
            id="items-delete-button-change-mind"
            *ngIf="seatStatus === 'éteint' && i===0"
            [hidden]="seatKind === 'Orchestre'"
            (click)="onSwitchDelete()"
            [value]="seatStatus[i].id">J'ai changé d'avis
            </button>

            <!-- display if buttons on, each by seatName -->

            <!-- Balcon 1 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===0 && seatStatus === 'allumé' && seatName === 'Balcon 1'"
            [visible]="seatStatus === 'éteint' && seatId === 1"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()" 
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 2 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===1 && seatStatus === 'allumé' && seatName === 'Balcon 2'"
            [visible]="seatStatus === 'éteint' && seatId === 2"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()" 
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 3 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===2 && seatStatus === 'allumé' && seatName === 'Balcon 3'"
            [visible]="seatStatus === 'éteint' && seatId === 3"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 4 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===3 && seatStatus === 'allumé' && seatName === 'Balcon 4'"
            [visible]="seatStatus === 'éteint' && seatId === 4"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 5 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===4 && seatStatus === 'allumé' && seatName === 'Balcon 5'"
            [visible]="seatStatus === 'éteint' && seatId === 5"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 6 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===5 && seatStatus === 'allumé' && seatName === 'Balcon 6'"
            [visible]="seatStatus === 'éteint' && seatId === 6"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 7 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===6 && seatStatus === 'allumé' && seatName === 'Balcon 7'"
            [visible]="seatStatus === 'éteint' && seatId === 7"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 8 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===7 && seatStatus === 'allumé' && seatName === 'Balcon 8'"
            [visible]="seatStatus === 'éteint' && seatId === 8"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 9 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===8 && seatStatus === 'allumé' && seatName === 'Balcon 9'"
            [visible]="seatStatus === 'éteint' && seatId === 9"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 10 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===9 && seatStatus === 'allumé' && seatName === 'Balcon 10'"
            [visible]="seatStatus === 'éteint' && seatId === 10"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 11 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===10 && seatStatus === 'allumé' && seatName === 'Balcon 11'"
            [visible]="seatStatus === 'éteint' && seatId === 11"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>

            <!-- Balcon 12 -->
            <button type="submit"
            id="items-delete-button-small"
            *ngIf="i===11 && seatStatus === 'allumé' && seatName === 'Balcon 12'"
            [visible]="seatStatus === 'éteint' && seatId === 12"
            (click)="deleteOrder(seat)"
            (click)="onSaveOnFirebase()"
            href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
            <span class="material-icons cursorPoint"
            >delete</span> 
            </button>
      </div>

      <!-- Orchestre -->
      <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      [hidden]="seatKind === 'Balcon'"
      (click)="onSwitchOn()"
      [value]="seatName.id"
      >{{ seatName }}</button>

      <!-- not available -->
      <button type="submit"
      id="notAvailable"
      *ngIf="seatStatus === 'éteint'"
      disabled="{{buttonDisabled}}"
      [value]="seatName.id"
      (click)="onSwitchOn()">{{ seatName }}</button>

</form>
