<div routerLinkActive="active" class="layoutFrame background-C">
  <div class="items">
    <div><img class="visual-Radius50Height25" src="../assets/matrixPictures/C.jpeg"></div>
    <div *ngFor="let matrix of matrixs">
      <h2 class="title-01">{{ matrix.items.c.name }}</h2>
      <h3 class="comment-01">{{ matrix.items.c.description }}</h3>
      <p class="price-add"><strong>{{ matrix.items.c.price }}0</strong>€</p>
    </div>

    <h2 class="bigTitle">Suppléments</h2>
    <div class="whiteLineHorizontalAdd"></div>

    <label *ngFor="let item of priceCs">
      <input type="checkbox" [(ngModel)]="item.isChecked">
      <span class="spaceVerticalBetweenItems">
        <div class="spaceBetweenItemAndPrice">
          <div class="left">{{item.label}}</div>
          <div class="right">{{item.value | number : '1.2-2'}}€</div>
        </div>
      </span>
      <div class="whiteLineHorizontalAdd"></div>
    </label>

    <form [formGroup]="restoForm" (ngSubmit)="submit()">
      <div class="left-284">
        <button type="submit"
        class="waves-effect waves-light submit-button"
        (click) = "onSaveTotalCOnFirebase()"
        (click) = "onSaveTotalCompleteCOnFirebase()"
        (click) = "onSaveTotalTvaCOnFirebase()"
        routerLink="/abcdefghijkl">Ajouter à la commande</button>
      </div>
    </form>
  </div>
</div>
