<div class="row">
  <div class="col-sm-8 col-sm-offsett-2">

    <h2 class="title-form">Enregistrer un nouvel article</h2>

    <button type="submit"
    class="waves-effect waves-light submit-button-step-one"
    routerLink="/upload">Etape 1 : choisir les images</button>

    <form *ngIf="bookForm" [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <!-- <label for="title"> Etape 2 : titre</label> -->
        <textarea type="text" class="form-control" id="title" formControlName="title" cols="50" rows="1" placeholder="Etape 2 : choisir le titre de l'article"></textarea>
      </div>
      <div class="form-group">
        <!-- <label for="texte">Etape 3 : texte de l'article</label> -->
        <!-- <input type="text" class="form-control" id="texte" formControlName="texte"> -->
        <textarea type="text" class="form-control" id="texte" formControlName="texte" cols="50" rows="15" placeholder="Etape 3 : choisir le texte de l'article"></textarea>
      </div>
      <div class="form-group">
        <!-- <label for="author">Etape 4 : auteur de l'article</label> -->
        <textarea type="text" class="form-control" id="author" formControlName="author" cols="50" rows="1" placeholder="Etape 4 : quel est l'auteur ?"></textarea>
      </div>

      <button
        class="waves-effect waves-light submit-button-step-one"
        [disabled]="bookForm.invalid || fileIsUploading"
        type="submit">Enregistrer</button>
    </form>
  </div>
</div>
