<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let i of rowIndexArray">
      <div *ngIf="i==0">
        <img [src]="imageList[1+i].imageUrl" alt="images" class="img-fluid imageDisplay">
      </div>
    </div>

    <p class="textDate">{{ bookI.timestamp | date:'fullDate' : '' : 'fr-FR' }} à {{ bookI.timestamp | date:'shortTime' : '' : 'fr-FR' }} par <i class="textAuthor">{{ bookI.author }}</i></p>
    <h1 class="titleBigSingle">{{ bookI.title }}</h1>
    <h3>{{ bookI.texte }}</h3>

    <div *ngFor="let i of rowIndexArray">
      <div *ngIf="i==0">
        <img [src]="imageList[2+i].imageUrl" alt="images" class="img-fluid imageDisplay">
      </div>
    </div>

    <button class="btn btn-default" (click)="onBack()">Retour</button>
  </div>
</div>
