body {
  padding-top: 60px;
}

h1 {
  color: var(--color-fluo);
  font-size: 40px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  text-align: left;
}

#fields {
  font-size: 24px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-gold);
}

button {
  // color: white;
  // font-size: 16px;
	// font-family: paralucent, sans-serif;
  // background-color: var(--color-fluo);
}

button:hover {
  // background-color: var(--color-gold);
}

#borderline {
  color: white;
  font-size: 16px;
	font-family: paralucent, sans-serif;
  background-color: var(--main-color);
  border: solid 1px gray;
  margin-right: 20px;
  margin-top: 10px;
}

#borderline:hover {
  background-color: var(--color-gold);
}

#noborderline {
  font-size: 16px;
	font-family: paralucent, sans-serif;
  padding: 10px;
  border: solid 0px var(--main-color);
  background-color: var(--color-fluo);
  color: var(--color-main);
}

#noborderline:hover {
  background-color: var(--color-gold);
  border: solid 0px var(--color-gold);
  color: white;
}

#items {
  font-size: 30px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  // margin-left: 16px;
}

#delete {
  color: white;
  font-size: 16px;
	font-family: paralucent, sans-serif;
  background-color: var(--color-gold);
  border: solid 1px gray;
  margin-right: 20px;
  margin-top: 10px;
}

#delete:hover {
  background-color: var(--color-fluo);
}

#items-button {
  background-color: var(--color-fluo);
  font-size: 20px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  border: solid 2px var(--color-fluo);
  border-radius: 10px;
  padding: 24px;
  margin: 12px;
  text-align: center;
}

#items-button:hover {
  background-color: var(--color-gold);
}

#submit-button {
  background-color: var(--color-gold);
  font-size: 20px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  border: solid 2px var(--color-gold);
  border-radius: 10px;
  padding: 24px;
  margin: 12px;
  text-align: center;
}

#submit-button:hover {
  background-color: var(--color-fluo);
}

#all-form-title {
  background-color: var(--color-fluo);
  font-size: 20px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  border: solid 2px var(--color-fluo);
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

#all-forms {
  background-color: var(--main-color);
  font-size: 16px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  border-right: solid 2px var(--color-white);
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

#all-form {
  background-color: var(--main-color);
  font-size: 16px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.vertical-lign-fluo {
  border: solid 2px var(--color-fluo);
}

.vertical-lign-white {
  border: solid 2px var(--color-white);
}

.space-bottom {
  padding-bottom: 40px;
}

a {
  font-size: 30px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-fluo);
  padding-left: 18px;
}

a:hover {
  color: white;
}

p {
  padding-left: 18px;
  color: white;
}

#return-gold {
  color: var(--color-gold);
  font-size: 30px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

#return-gold:hover {
  color: white;
  text-decoration: none;
}

.between {
  font-size: 22px;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  padding-left: 10px;
  color: gray;
  text-align: left;
}
