.blocks {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
}

// fonds image ------

.backgroundA {
  width: 618px;
  height: 548px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px; // background visual
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 8px var(--color-gold);
  margin-top: 80px;
  margin-left: -20px;
}

.backgroundB {
  width: 618px;
  height: 548px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 8px var(--color-gold);
  margin-top: 80px;
}

.backgroundC {
  width: 1236px;
  height: 598px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 8px var(--color-gold);
  margin-top: 18px;
  margin-left: -20px;
  margin-right: -16px;
  margin-bottom: 80px;
}

// ------

// textes background -----

.textOnBackground-A {
  color: var(--color-fluo);
  font-size: 197px;
  letter-spacing: -0.06em;
  margin-left: -15px;
  // margin-bottom: -120px;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.textOnBackground-B {
  color: var(--color-night);
  font-size: 157px;
  letter-spacing: -0.08em;
  margin-left: 40px;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.textOnBackground-C {
  color: var(--color-supergreen);
  font-size: 229px;
  letter-spacing: -0.08em;
  margin-left: 18rem;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

// button au premier plan ------

.link-A {
  background:
  linear-gradient(127deg, rgba(253,72,60), rgba(14,31,62,0) 100%),
  linear-gradient(336deg, rgba(22,93,125), rgba(14,31,62,1) 70%),
  linear-gradient(336deg, rgba(14,31,62), rgba(22,93,125,1) 100%);
  padding-top: 312px;
  padding-bottom: 180px;
  padding-left: 110px;
  padding-right: 226px;
  color: var(--color-white);
  font-size: 106px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-A:hover {
  opacity: 0;
}

// -----

.link-B {
  background:
  linear-gradient(127deg, rgba(192,200,97), rgba(253,72,60,0) 70%),
  linear-gradient(336deg, rgba(253,72,60), rgba(192,200,97) 100%),
  linear-gradient(336deg, rgba(67,67,67), rgba(67,67,67,1) 100%);
  padding-top: 254px;
  padding-bottom: 172px;
  padding-left: 66px;
  padding-right: 114px;
  color: var(--color-white);
  font-size: 116px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-B:hover {
  opacity: 0;
}

.link-C {
  background:
  linear-gradient(336deg, rgba(77,29,72), rgba(178,37,44,1) 100%),
  linear-gradient(127deg, rgba(178,37,44), rgba(233,229,73,0) 100%),
  linear-gradient(336deg, rgba(233,229,73), rgba(77,29,72,1) 100%);
  padding-top: 360px;
  padding-bottom: 110px;
  padding-left: 292px;
  padding-right: 763px;
  color: var(--color-white);
  font-size: 96px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-C:hover {
  opacity: 0;
}
