<h1 *ngIf="userData | async" class="textAuth">
  Bonjour  <span class="emailAuth"> {{ (userData | async)?.email }}</span>
</h1>

<div class="resize" (resized)="onResized($event)">

  <div class="blocks">
    <div routerLinkActive="active" *ngIf="!isAuth" class="backgroundA">
      <button routerLink="/reservation" class="baseline-A">Evénenement</button>
      <a routerLink="/reservation" class="link-A">Réserver</a>
    </div>

    <div routerLinkActive="active" *ngIf="!isAuth" class="backgroundB">
      <button routerLink="/resto-home" class="baseline-B">Restaurant</button>
      <a routerLink="/resto-home" class="link-B">Commander</a>
    </div>
  </div>

  <div class="blocks">
    <div routerLinkActive="active" *ngIf="!isAuth" class="backgroundC">
      <button routerLink="/edition" class="baseline-C">Backoffice éditorial</button>
      <a routerLink="/edition" class="link-C">Editer</a>
    </div>
  </div>

</div>
