.blocks {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -20px;
  margin-bottom: -20px;
}

// fonds image ------

.backgroundA {
  width: 618px;
  height: 548px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px; // background visual
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // border: solid 8px var(--color-gold);
  // margin-top: 20px;
  // margin-left: -20px;
}

.backgroundB {
  width: 618px;
  height: 548px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // border: solid 8px var(--color-gold);
  // margin-top: 20px;
}

.backgroundC {
  width: 1236px;
  height: 414px;
  background-image: url("../../../assets/sky-tree-03.png");
  background-size: 1260px 1260px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // border: solid 8px var(--color-gold);
}

// baseline plan intermédiaire ------------

.baseline-A {
  position: relative;
  z-index:10;
  padding-left: 30px;
  padding-top: 70px;
  // padding-left: 176px;
  // padding-top: 70px;
  font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-gold);
  font-size: 62px;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
}

.baseline-A:hover {
  color: var(--color-night);
}

.baseline-B {
  position: relative;
  z-index:10;
  padding-left: 30px;
  padding-top: 70px;
  // padding-left: 186px;
  // padding-top: 70px;
  color: var(--color-gold);
  font-size: 62px;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.baseline-B:hover {
  color: var(--color-night);
}

.baseline-C {
  position: relative;
  z-index:10;
  padding-left: 30px;
  padding-top: 30px;
  // padding-left: 442px;
  color: var(--color-gold);
  font-size: 62px;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.baseline-C:hover {
  color: var(--color-night);
}

// button au premier plan ------

.link-A {
  background:
  linear-gradient(127deg, rgba(253,72,60), rgba(14,31,62,0) 100%),
  linear-gradient(336deg, rgba(22,93,125), rgba(14,31,62,1) 70%),
  linear-gradient(336deg, rgba(14,31,62), rgba(22,93,125,1) 100%);
  padding-top: 237px;
  padding-bottom: 197px;
  padding-left: 171px;
  padding-right: 171px;
  color: var(--color-white);
  font-size: 106px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-A:hover {
  opacity: 0;
}

// -----

.link-B {
  background:
  linear-gradient(127deg, rgba(192,200,97), rgba(253,72,60,0) 70%),
  linear-gradient(336deg, rgba(253,72,60), rgba(192,200,97) 100%),
  linear-gradient(336deg, rgba(67,67,67), rgba(67,67,67,1) 100%);
  padding-top: 237px;
  padding-bottom: 197px;
  padding-left: 110px;
  padding-right: 110px;
  color: var(--color-white);
  font-size: 106px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-B:hover {
  opacity: 0;
}

.link-C {
  background:
  linear-gradient(336deg, rgba(77,29,72), rgba(78,137,144,1) 100%),
  linear-gradient(127deg, rgba(78,137,144), rgba(233,229,73,0) 100%),
  linear-gradient(336deg, rgba(233,229,73), rgba(77,29,72,1) 100%);
  padding-top: 165px;
  padding-bottom: 165px;
  padding-left: 522px;
  padding-right: 521px;
  color: var(--color-white);
  font-size: 106px;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-C:hover {
  opacity: 0;
}
