.textAuth {
  position: relative;
  font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-white);
  font-size: 2.6rem;
  letter-spacing: -0.05em;
  // padding-top: 68px;
  // margin-left: 19.5em;
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.emailAuth {
  position: relative;
  font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-fluo);
  font-size: 2.6rem;
}

.blocks {
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}

// fonds image ------

.backgroundA {
  width: 38.625rem;
  height: 30.25;
  background-image: url("../../../assets/sahara.jpg");
  background-size: 78.75rem 78.75rem;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.backgroundB {
  width: 38.625rem;
  height: 34.25rem;
  background-image: url("../../../assets/sahara.jpg");
  background-size: 78.75rem 78.75rem;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.backgroundC {
  width: 77.25rem;
  height: 25.875rem;
  background-image: url("../../../assets/sahara.jpg");
  background-size: 78.75rem 78.75rem;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// baseline plan intermédiaire ------------

.baseline-A {
  position: relative;
  z-index:1;
  padding-left: 3.875rem;
  padding-top: 4.375rem;
  font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
  color: var(--color-gold);
  font-size: 3.875rem;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
}

.baseline-A:hover {
  color: var(--color-fluo);
}

.baseline-B {
  position: relative;
  z-index:1;
  padding-left: 3.875rem;
  padding-top: 4.375rem;
  color: var(--color-gold);
  font-size: 3.875rem;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.baseline-B:hover {
  color: var(--color-darkpurple);
}

.baseline-C {
  position: relative;
  z-index:1;
  padding-left: 16.675rem;
  padding-top: 1.875rem;
  color: var(--color-gold);
  font-size: 3.875rem;
  letter-spacing: -0.05em;
  text-decoration: none;
  border: none;
  background: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.baseline-C:hover {
  color: var(--color-palesun);
}

// button au premier plan ------

.link-A {
  background:
  linear-gradient(127deg, rgba(253,72,60), rgba(14,31,62,0) 100%),
  linear-gradient(336deg, rgba(22,93,125), rgba(14,31,62,1) 70%),
  linear-gradient(336deg, rgba(14,31,62), rgba(22,93,125,1) 100%);
  padding-top: 14.813rem;
  padding-bottom: 12.313rem;
  padding-left: 10.688rem;
  padding-right: 10.688rem;
  color: var(--color-white);
  font-size: 6.625rem;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-A:hover {
  opacity: 0;
}

// -----

.link-B {
  background:
  linear-gradient(336deg, rgba(77,29,72), rgba(78,137,144,1) 100%),
  linear-gradient(127deg, rgba(78,137,144), rgba(233,229,73,0) 100%),
  linear-gradient(336deg, rgba(233,229,73), rgba(77,29,72,1) 100%);
  padding-top: 14.813rem;
  padding-bottom: 12.313rem;
  padding-left: 6.875rem;
  padding-right: 6.875rem;
  color: var(--color-white);
  font-size: 6.625rem;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-B:hover {
  opacity: 0;
}

.link-C {
  background:
  linear-gradient(127deg, rgba(192,200,97), rgba(253,72,60,0) 70%),
  linear-gradient(336deg, rgba(253,72,60), rgba(192,200,97) 100%),
  linear-gradient(336deg, rgba(67,67,67), rgba(67,67,67,1) 100%);
  padding-top: 10.313rem;
  padding-bottom: 10.375rem;
  padding-left: 32.625rem;
  padding-right: 32.563rem;
  color: var(--color-white);
  font-size: 6.625rem;
  letter-spacing: -0.05em;
  text-decoration: none;
	font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
}

.link-C:hover {
  opacity: 0;
}
