<div class="row">
  <div class="col-sm-8 col-sm-offsett-2">

    <h2 class="title-form">Enregistrer une nouvelle série d'images</h2>

    <button type="submit"
    class="waves-effect waves-light submit-button-step-one"
    routerLink="/uploadG">Etape 1 : choisir les 11 images (1180px minimum à 72dpi)</button>

    <form *ngIf="bookForm" [formGroup]="bookForm" (ngSubmit)="onSaveBookG()">

      <div class="form-group">
        <textarea type="text" class="form-control" id="title" formControlName="title" cols="50" rows="1" placeholder="Etape 2 : choisir le titre de la série d'images"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteA" formControlName="texteA" cols="50" rows="3" placeholder="Etape 3 (1/10) : choisir la légende le l'image 1"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteB" formControlName="texteB" cols="50" rows="3" placeholder="Etape 3 (2/10) : choisir la légende le l'image 2"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteC" formControlName="texteC" cols="50" rows="3" placeholder="Etape 3 (3/10) : choisir la légende le l'image 3"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteD" formControlName="texteD" cols="50" rows="3" placeholder="Etape 3 (4/10) : choisir la légende le l'image 4"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteE" formControlName="texteE" cols="50" rows="3" placeholder="Etape 3 (5/10) : choisir la légende le l'image 5"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteF" formControlName="texteF" cols="50" rows="3" placeholder="Etape 3 (6/10) : choisir la légende le l'image 6"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteG" formControlName="texteG" cols="50" rows="3" placeholder="Etape 3 (7/10) : choisir la légende le l'image 7"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteH" formControlName="texteH" cols="50" rows="3" placeholder="Etape 3 (8/10) : choisir la légende le l'image 8"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteI" formControlName="texteI" cols="50" rows="3" placeholder="Etape 3 (9/10) : choisir la légende le l'image 9"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="texteJ" formControlName="texteJ" cols="50" rows="3" placeholder="Etape 3 (10/10) : choisir la légende le l'image 10"></textarea>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control" id="author" formControlName="author" cols="50" rows="1" placeholder="Etape 4 : quel est l'auteur ?"></textarea>
      </div>

      <button
        class="waves-effect waves-light submit-button-step-one"
        [disabled]="bookForm.invalid || fileIsUploading"
        type="submit">Enregistrer</button>
    </form>
  </div>
</div>
