h1 {
    color: var(--color-gold);
    font-size: 80px;
    font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    letter-spacing: -0.05em;
    text-align: center;
}
  
h2 {
    color: var(--color-white);
    width: 600px;
    font-size: 40px;
    font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 30px;
    margin-top: 30px;
}

.cursorPoint {
    cursor: pointer;
}