/* component : reservation-home-admin */
/* ---------------------------------- */

/* 
1 - layout
*/

/* ------------------------------------------------------- */
/* --------------------- 1 - layout ---------------------- */
/* ------------------------------------------------------- */

body {
    // width: 300px;
    padding-top: 60px;
}

.container {
    display: flex;
    flex-direction: row;
}
  
h1 {
    color: var(--color-white);
      font-family: Cormorant_Garamond_Bold, Helvetica, light, sans-serif;
    font-size: 80px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-bottom: 30px;
}
  
h3 {
    color: var(--color-fluo);
      font-family: Cormorant_Garamond_Medium, Helvetica, light, sans-serif;
    font-size: 52px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.resa-left {
    vertical-align: top;
    position: absolute;
    width: 600px;
    margin-top: 60px;;
    margin-left: 10px;
}
  
.resa-right {
    vertical-align: top;
    width: 400px;
    padding-left: 600px;
    margin-bottom: 60px;
}
  