h1 {
    color: var(--color-gold);
    font-size: 80px;
    font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    letter-spacing: -0.05em;
    text-align: center;
}
  
h2 {
    color: var(--color-white);
    width: 600px;
    font-size: 40px;
    font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 30px;
    margin-top: 30px;
}

// reservation-query > graphics pie bar

.background-darkblue {
    width: 1400px;
    height: 720px;
    background-color: var(--color-darkbluelight);
    border-radius: 20px;
    padding: 30px;
}

// reservation-query > polararea

.background-white {
    width: 1400px;
    height: 720px;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 30px;
}

// -----

#submit-button-graphics {
    background-color: var(--main-color);
    font-size: 28px;
      font-family: Cormorant_Garamond_medium, Helvetica, light, sans-serif;
    color: white;
    border: solid 1px var(--color-gold);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
}
  
#submit-button-graphics:hover {
    background-color: var(--color-gold);
}
  
#submit-button-graphics-back {
    background-color: var(--main-color);
    font-size: 24px;
      font-family: Cormorant_Garamond_medium, Helvetica, light, sans-serif;
    color: white;
    border: solid 2px var(--color-palesun);
    border-radius: 10px;
    padding: 18px;
    margin-right: 20px;
    text-align: center;
}
  
#submit-button-graphics-back:hover {
    background-color: var(--color-palesun);
    color: black;
}
  
#submit-button-graphics-enable {
    cursor: auto;
    background-color: var(--main-color);
    font-size: 28px;
      font-family: Cormorant_Garamond_medium, Helvetica, light, sans-serif;
    color: white;
    border: solid 0px var(--color-gold);
    padding: 34px;
    margin-right: 10px;
    text-align: center;
}
  
// -------

.cell-title-left {
    width: 300px;
    background-color: var(--color-gold);
    font-size: 20px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: white;
    // border: solid 2px var(--color-gold);
    // border-right: solid 1px var(--main-color);
    padding: 30px;
    text-align: center;
    // margin-top: 40px;
  }
  
  .cell-title-right {
    width: 300px;
    background-color: var(--color-gold);
    font-size: 20px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: white;
    // border: solid 2px var(--color-gold);
    // border-right: solid 2px var(--color-white);
    padding: 30px;
    text-align: center;
    // margin-top: 40px;
  }
  
  .cell-left {
    width: 200px;
    background-color: var(--main-color);
    // opacity: 0.8;
    font-size: 22px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: var(--color-gold);
    // border-left: solid 1px var(--color-gold);
    border-right: solid 1px var(--color-gold);
    border-bottom: solid 1px var(--color-gold);
    padding: 30px;
    text-align: center;
    // margin-top: 40px;
  }
  
  .cell-right {
    width: 200px;
    background-color: var(--main-color);
    // opacity: 0.8;
    font-size: 22px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: var(--color-gold);
    border-right: solid 1px var(--color-gold);
    border-bottom: solid 1px var(--color-gold);
    padding: 30px;
    text-align: center;
    // margin-top: 40px;
  }
  
  .cell-right-seat {
    background-color: var(--main-color);
    // opacity: 0.8;
    font-size: 22px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: var(--color-fluo);
    border-right: solid 1px var(--color-gold);
    border-bottom: solid 1px var(--color-gold);
    padding: 30px;
    text-align: center;
    margin-top: 40px;
  }
  
  .cell-right-border {
    background-color: var(--main-color);
    // opacity: 0.8;
    font-size: 22px;
      font-family: Cormorant_Garamond_Light, Helvetica, light, sans-serif;
    color: var(--color-gold);
    // border-right: solid 1px var(--color-gold);
    border-bottom: solid 1px var(--color-gold);
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

// -------

.vertical-lign-maincolor {
    border: solid 1px var(--main-color);
}
  
.vertical-lign-fluo {
    border: solid 2px var(--color-fluo);
}
  
.vertical-lign-white {
    border: solid 3px var(--color-white);
}