<body>
  <main class="scroll-vertical">
    <!-- <div id="bg"></div> -->
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <!-- <img src="../../assets/logo.png" class="logo"> -->
          <h1 class="big-title">
            <span class="title-sequence">Réserver un évènement</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">démo pour salle de spectacle</p>
          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>
        </section>

        <!-- home reservation -->

        <section class="container">
          <div class="row">
            <app-reservation-home></app-reservation-home>
          </div>
        </section>

      </div>
    </div>
  </main>

</body>
