<body>
  <main>
    <!-- <div id="bg"></div> -->
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <!-- <img src="../../assets/bd.png" class="logo"> -->

          <!-- lazyLoad image home > logo -->
          <img class="logo" [defaultImage]="defaultImage" [lazyLoad]="imageLogo" />

          <h1 class="big-title">
            <span class="title-sequence">Visual Exibition</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">Photo & Cinema</p>
          <div class="item__img-wrap">

            <!-- lazyLoad image home > main (fullscrean) -->
            <div [defaultImage]="defaultImage" [lazyLoad]="imageHome" class="item__img item__img--t1"></div>
            
          </div>
        </section>

        <!-- <app-aside></app-aside> -->
          
        <!-- <app-footer></app-footer> -->

      </div>
    </div>
  </main>

</body>
