<body>
  <main>
    <!-- <div id="bg"></div> -->
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <img src="../../assets/logo.png" class="logo">
          <h1 class="big-title">
            <span class="title-sequence">Photos & Designs <br />Exibition Projects</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">Ou développeur d'expériences, le web à grand spectacle, développeur d'émotions, j'aime les projets qui... , ne sont que des outils.</p>
          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>

          <!-- animated element -->

          <div class="left-wrapper-angular">
            <div class="left-content-angular slide-left-angular">
               <p class="terms-left-angular">Photo</p>
            </div>
          </div>

          <div class="right-wrapper-javascript">
            <div class="right-content-javascript slide-right-javascript">
              <p class="terms-right-javascript">Black & White</p>
            </div>
          </div>
        </section>

        <section class="item">

          <!-- title -->

          <div class="item">
            <h2 class="title-01">My Web Factory</h2>
            <!-- <p class="text-01">Cosmos encyclopaedia galactica a billion trillion culture cosmic ocean.</p> -->
          </div>

          <div class="item__img-wrap">
            <div class="item__img item__img--t2"></div>
          </div>

          <app-news01 class="text-left"
          *ngFor="let news of newArticles; let i = index"
          [newsFolio]="news.folio"
          [newsTitle]="news.title"
          [newsText_01]="news.text_01"
          [newsText_02]="news.text_02"
          [newsPath]="news.path"
          [index] = "i">
          </app-news01>

          <a class="link link-left link-right-1"
          (click) = "onDisplayArticle01()">Afficher article 1</a>

          <a class="link link-left link-right-2"
          (click) = "onDisplayArticle02()">Afficher article 2</a>

          <a class="link link-left link-right-3"
          (click) = "onDisplayArticle03()">Afficher article 3</a>

          <a class="link link-left link-right-4"
          (click) = "onDisplayArticle04()">Afficher article 4</a>

          <a class="link link-left link-right-5"
          (click) = "onDisplayArticle05()">Afficher article 5</a>

        </section>

        <section class="item">
          <div class="item__img-wrap">
            <div class="item__img item__img--t2"></div>
          </div>

          <div class="item__caption">
            <p class="item__caption-text-03">Two ghostly white figures in coveralls and helmets are softly dancing vastness.</p>
            <h2 class="item__caption-title-03">Connections</h2>
            <div class="content background-gold-line-01"></div>
          </div>

        </section>

        <section class="item">
          <div class="item__img-wrap">
            <div class="item__img item__img--t2"></div>
          </div>

          <div class="item__caption">
            <p class="item__caption-text-03">Two ghostly white figures in coveralls and helmets are softly dancing vastness.</p>
            <h2 class="item__caption-title-03">Connections</h2>
            <div class="content background-gold-line-01"></div>
          </div>

        </section>

        <!-- <section class="item">
          <div class="item__img-wrap animated-element">
            <div class="item__img item__img--t2"></div>
          </div>
        </section> -->

        <!-- <section class="item">
          <div class="item__img-wrap animated-element">
            <div class="item__img item__img--t2"></div>
          </div>
        </section> -->

        <app-footer></app-footer>

      </div>
    </div>
  </main>

</body>
