<body>
  <main>
    <!-- <div id="bg"></div> -->
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <img src="../../assets/logo.png" class="logo">
          <h1 class="big-title">
            <span class="title-sequence">Photos & Designs <br />Exibition Projects</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">Ou développeur d'expériences, le web à grand spectacle, développeur d'émotions, j'aime les projets qui... , ne sont que des outils.</p>
          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>
        </section>
          
        <!-- <app-footer></app-footer> -->

      </div>
    </div>
  </main>

</body>
