<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

      <!-- each seats names inside buttons -->
      <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      (click)="onSwitchOn()"
      >{{ seatName }}</button>

      <!-- Orchestre -->
      <!-- <button type="submit"
      id="items-button"
      *ngIf="seatStatus === 'allumé'"
      [hidden]="seatKind === 'Balcon'"
      (click)="onSwitchOn()"
      >{{ seatName }}</button> -->

      <!-- ---- -->

      <!-- not available (Balcon & Orchestre)-->
      <button type="submit"
      id="notAvailable"
      *ngIf="seatStatus === 'éteint'"
      disabled="{{ buttonDisabled }}"
      (click)="onSwitchOn()">{{ seatName }}</button>

</form>
