<section class="container">

  <div class="row">

    <div class="resa-left">
      <app-order-reservation-picture-ter class="background-resa-admin-home layout-resa-picture-home"></app-order-reservation-picture-ter>
    </div>

    <div class="resa-right">

      <!-- <h1>Résultats</h1> -->

      <div class="background-query">
        <a routerLink="/graphic" class="links">Voir les réservations sous forme de graphiques</a>
      </div>

      <div class="background-admin">
        <a routerLink="/admin" class="links">Accéder à la partie administration</a>
      </div>

    </div>
  </div>

</section>
