<div class="center">
  
  <h1>Par spectateurs français, américains et canadiens, du plus âgé au plus jeune</h1>

  <button type="submit" id="submit-button-graphics-back" routerLink="/hub">Retour</button>
  <button type="submit" id="submit-button-graphics" routerLink="/graphic">Doughnut</button>
  <button type="submit" id="submit-button-graphics-enable">Bar</button>
  <button type="submit" id="submit-button-graphics" routerLink="/pie">Pie</button>
  <button type="submit" id="submit-button-graphics" routerLink="/polar">Polar Area</button>

  <div class="responsivePie background-gray" id="legend">
    <canvas baseChart id="seatsChart">
  </canvas>
  </div>

</div>