<body>
  <main>
    <!-- <div id="bg"></div> -->
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <img src="../../assets/logo.png" class="logo">
          <h1 class="big-title">
            <span class="title-sequence">About Me<br />Contact</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">Ou développeur d'expériences, le web à grand spectacle, développeur d'émotions, j'aime les projets qui... , ne sont que des outils.</p>
          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>

          <div class="left-wrapper-angular">
            <div class="left-content-angular slide-left-angular">
               <p class="terms-left-angular">Angular</p>
            </div>
          </div>
          <div class="right-wrapper-javascript">
            <div class="right-content-javascript slide-right-javascript">
              <p class="terms-right-javascript">JavaScript</p>
            </div>
          </div>
        </section>

        <!-- part 01 -->

        <section class="item">
          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>
            <!-- <article> -->
              <!-- button -->
              <div class="ch-grid">
                <div class="ch-item">
                  <div class="text-left">La réouverture des frontières de l'UE après leur fermeture inédite en raison de la pandémie reste un sujet délicat. L'Italie «exige le respect» des autres pays d'Europe à propos de la prochaine réouverture des frontières, une question qui nécessite une «réponse européenne» coordonnée, a déclaré le ministre italien des Affaires étrangères, Luigi Di Maio.
                    <br />
                    <a [routerLink] = "[id]" class="link">Lire la suite</a>
                  </div>
                  <div class="ch-button-01"></div>

                </div>
              </div>
            <!-- </article> -->
        </section>

        <!-- part 02 -->

        <section class="item left-wrapper-html">
          <div class="left-wrapper-html">
            <div class="left-content-html slide-left-html">
               <p class="terms-left-html">HTML</p>
            </div>
          </div>
          <div class="right-wrapper-css">
            <div class="right-content-css slide-right-css">
              <p class="terms-right-css"> css</p>
            </div>
          </div>
          <div class="item__img-wrap left-content-angkor slide-left-angkor">
            <div class="item__img item__img--t2"></div>
          </div>
        </section>

        <!-- part 03 -->

        <section class="item">
          <div class="item__img-wrap">
            <div class="item__img item__img--t3"></div>
            <div class="left-wrapper-npm">
              <div class="left-content-npm slide-left-npm">
                 <p class="terms-left-npm">npm</p>
              </div>
            </div>
          </div>

          <div class="item">
            <h2 class="item__caption-title-01">Ready to land</h2>
            <p class="item__caption-text-01">Cosmos encyclopaedia galactica a billion trillion culture cosmic ocean.</p>
          </div>
        </section>

        <!-- part 04 -->

        <section class="item background-gold">

          <!-- Animation Elements -->

          <div class="left-wrapper-git">
            <div class="left-content-git slide-left-git">
               <p class="terms-left-git">git</p>
            </div>
          </div>
          <div class="right-wrapper-sass">
            <div class="right-content-sass slide-right-sass">
              <p class="terms-right-sass">Sass</p>
            </div>
          </div>

          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>

          <div class="item__caption">
            <h2 class="item__caption-title-02">Web & Oasis</h2>
            <p class="item__caption-text-02">Network of wormholes dream of the mind's eye finite but unbounded concept.</p>
          </div>
        </section>

        <!-- part 05 -->

        <section class="item">
          <div class="item__img-wrap">
            <div class="item__img item__img--t2"></div>

            <!-- Animation Elements -->

            <div class="left-wrapper-typescript">
              <div class="left-content-typescript slide-bottom-typescript">
                 <p class="terms-left-typescript">Typescript</p>
              </div>
            </div>
            <div class="right-wrapper-bootstrap">
              <div class="right-content-bootstrap slide-top-bootstrap">
                <p class="terms-right-bootstrap">Bootstrap</p>
              </div>
            </div>

          </div>
          <div class="item__caption">
            <p class="item__caption-text-03">Two ghostly white figures in coveralls and helmets are softly dancing vastness.</p>
            <h2 class="item__caption-title-03">Connections</h2>
            <div class="content background-gold-line-01"></div>
          </div>
        </section>

        <!-- Animation Elements -->

        <section class="item">
          <div class="left-wrapper-jquery">
            <div class="left-content-jquery slide-left-jquery">
               <p class="terms-left-jquery">JQuery</p>
            </div>
          </div>
          <div class="right-wrapper-gulp">
            <div class="right-content-gulp slide-right-gulp">
              <p class="terms-right-gulp">Gulp</p>
            </div>
          </div>

          <!-- part 06 -->

          <div class="item__img-wrap">
            <div class="item__img item__img--t3"></div>

            <!-- Animation Elements -->

            <div class="left-wrapper-karma">
              <div class="left-content-karma slide-bottom-karma">
                <p class="terms-left-karma">Karma</p>
              </div>
            </div>
          </div>
          <div class="item__caption">
            <p class="item__caption-text-04">Vastness is bearable only through love invent the universe vanquish.</p>
            <h2 class="item__caption-title-04">The state of divergence</h2>
            <div class="content background-gold-line-02"></div>
          </div>


          <article>
            <!-- button -->
            <div class="ch-grid">
              <div class="ch-item">
                <p class="text-left-02">La réouverture des frontières de l'UE après leur fermeture inédite en raison de la pandémie reste un sujet délicat. L'Italie «exige le respect» des autres pays d'Europe à propos de la prochaine réouverture des frontières, une question qui nécessite une «réponse européenne» coordonnée, a déclaré le ministre italien des Affaires étrangères, Luigi Di Maio.</p>
                <br />
                <a href="#" class="link">Lire la suite</a>
                <div class="ch-button-02"></div>

              </div>
            </div>
          </article>
        </section>

        <!-- part 07 -->

        <section class="item">

          <!-- Animation Elements -->

          <div class="left-wrapper-rxjs">
            <div class="left-content-rxjs slide-left-rxjs">
               <p class="terms-left-rxjs">RxJs</p>
            </div>
          </div>
          <div class="right-wrapper-node-js">
            <div class="right-content-node-js slide-right-node-js">
              <p class="terms-right-node-js">Node Js</p>
            </div>
          </div>

          <div class="item__img-wrap">
            <div class="item__img item__img--t1"></div>
          </div>
          <div class="item__caption">
            <p class="item__caption-text-05">The only home we've ever known concept of the number one.</p>
            <h2 class="item__caption-title-05">Open perspective</h2>
            <div class="content background-gold-line-03"></div>
          </div>

        </section>

        <!-- part 08 -->

        <section class="item">

          <!-- Animation Elements -->

          <div class="left-wrapper-nosql">
            <div class="left-content-nosql slide-bottom-nosql">
               <p class="terms-left-nosql">NoSQL</p>
            </div>
          </div>
          <div class="right-wrapper-firebase">
            <div class="right-content-firebase slide-top-firebase">
              <p class="terms-right-firebase">Firebase</p>
            </div>
          </div>
          <div class="item__img-wrap">
            <div class="item__img item__img--t3"></div>
          </div>
          <div class="item__caption">
            <p class="item__caption-text-06">The only home we've ever known concept of the number one.</p>
            <!-- <h2 class="item__caption-title-06">Discovery of shapes</h2> -->
          </div>
        </section>


        <app-aside></app-aside>
        <app-footer></app-footer>

      </div>
    </div>
  </main>

</body>
