<header>
  <!-- /container -->
  <div class="container">

    <!-- Menu -->
    <div class="menu">
      <div class="menu-bg js-blur"></div>
      <nav class="menu-items">
        <div class="menu-item">
          <span class="item developpeur">Choisissez une expérience</span>
        </div>

        <div routerLinkActive = "active">
          <a routerLink = "part01" class="menu-item">
            <span class="js-blur">My Web Factory</span>
          </a>
        </div>

        <!-- <div routerLinkActive = "active">
          <a routerLink = "part02" class="menu-item">
            <span class="js-blur">Mobile Project</span>
          </a>
        </div> -->

        <!-- <div routerLinkActive = "active">
          <a routerLink = "part03" class="menu-item">
            <span class="js-blur">Visuals Exibition</span>
          </a>
        </div> -->

        <!-- <div routerLinkActive = "active">
          <a routerLink = "part04" class="menu-item">
            <span class="js-blur">Movies & Screanplays</span>
          </a>
        </div> -->

        <!-- <div routerLinkActive = "active">
          <a routerLink = "part05" class="menu-item">
            <span class="js-blur">About Me & Contact</span>
          </a>
        </div> -->

        <div routerLinkActive = "active">
          <a routerLink = "main" class="menu-item">
            <span class="js-blur">Back to Home</span>
          </a>
        </div>

      </nav>
    </div>
    <button class="menu-toggle"><span>Open Menu</span></button>
  </div>
</header>
