#submit-button {
    background-color: var(--color-fluo);
    font-size: 20px;
      font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
    color: white;
    border: solid 2px var(--color-fluo);
    border-radius: 10px;
    padding: 24px;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
  }
  
  #submit-button:hover {
    background-color: var(--main-color);
  }