<p>button-a works</p>
<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

    <div *ngFor="let order of seatOneOrders; let i = index">
        <div *ngFor="let seat of order.payload.doc.data().seatOneOrder">
    
          <div [visible]="seat === 'Balcon 1'"
          [hidden]="seat === 'Balcon 2'
          || seat === 'Balcon 3'">
            <button type="submit"
              id="submit-button"
              (click)="markCompleted(order)"
              (click) = "onSaveOnFirebase()">Je supprime le balcon 1</button>
          </div>
    
          <div *ngIf="order.payload.doc.data().completed">
            <button type="submit"
            id="submit-button-def"
            (click)="getSeatIds()"
            (click)="deleteOrder(order)"
            (click) = "onSaveOnFirebase()"
            routerLink="/home-result">Je confirme supprimer le balcon 1</button>
          </div>
    
        </div>
      </div>
</form>