.baseline-A {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.4s;
    animation: fadeIn 4s;
    visibility: visible !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}