<body>
  <main>
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">
          <!-- <img src="../../assets/bd.png" class="logo"> -->

          <!-- lazyLoad image home > logo -->
          <img class="logo" [defaultImage]="defaultImage" [lazyLoad]="imageLogo" />

          <h1 class="big-title">
            <span class="title-sequence">My Web Demos Factory</span>
          </h1>
          <div class="line"></div>
          <p class="sub-title">Des univers à explorer</p>
          <div class="item__img-wrap">

            <!-- lazyLoad image home > main (fullscrean) -->
            <div [defaultImage]="defaultImage" [lazyLoad]="imageHome" class="item__img item__img--t1"></div>
          </div>
        </section>

        <!-- identification -->

        <section class="layoutFrame background">
            <ul>
              <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="/auth/signup" class="link">Créer un compte</a>
              </li>
              <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="/auth/signin" class="link">Connection</a>
                <div class="baseline-frame">
                  <h2 class="baseline-title"><strong>Identifiants démos</strong></h2>
                  <p class="baseline"><strong>demo@demo.com</strong> - <strong>DemoDemoDemo</strong></p>
                </div>
              </li>
              <li>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer" class="link">Déconnection</a>
              </li>
              <li>
                <a *ngIf="isAuth" routerLink="/auth/signinlist" style="cursor: pointer" class="link-back">Retour à la liste</a>
              </li>
            </ul>
          </section>

      </div>
    </div>
  </main>

</body>
