#submit-button {
    background-color: var(--color-darkbluelight);
    font-size: 18px;
      font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
    color: white;
    border: solid 2px var(--color-darkbluelight);
    border-radius: 10px;
    padding: 12px;
    margin-top: 12px;
    margin-right: 8px;
    text-align: center;
  }
  
  #submit-button:hover {
    color: var(--color-darkbluelight);
    background-color: var(--color-palesun);
    border: solid 2px var(--color-palesun);
  }

  // -----

  #submit-button-def {
    background-color: var(--color-terre-de-sienne-brule);
    font-size: 20px;
      font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
    color: white;
    border: solid 2px var(--color-terre-de-sienne-brule);
    border-radius: 10px;
    padding: 24px;
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
  }
  
  #submit-button-def:hover {
    color: var(--color-darkbluelight);
    background-color: var(--color-palesun);
    border: solid 2px var(--color-palesun);
  }

  // ------

  #notAvailable {
    background-color: var(--color-gold);
    font-size: 20px;
    font-family: Barlow_Condensed-regular, Helvetica, light, sans-serif;
    color: white;
    border: solid 2px var(--color-gold);
    opacity: 0.4;
    border-radius: 10px;
    padding: 14px;
    text-align: center;
  }