<h1>Administration</h1>

<h2> {{ seatName }} </h2>
<h2> {{ seatStatus }} </h2>

<table>
  <thead>
    <tr>
      <!-- <th id="all-form-titles" class="vertical-lign-white">Timestamp</th> -->
      <th class="vertical-lign-maincolor cell-title-right">Prénom</th>
      <th class="vertical-lign-maincolor cell-title-right">Nom</th>
      <th class="vertical-lign-maincolor cell-title-right">Pays</th>
      <th class="vertical-lign-maincolor cell-title-right">Votre siège</th>
      <th class="vertical-lign-maincolor cell-title-left">Supprimer</th>
    </tr>
  </thead>

  <tbody *ngFor="let order of seatOneOrders">
    <tr>
      <!-- <td id="all-forms" class="vertical-lign-fluo">{{ order.payload.doc.data().date.time }}</td> -->
      <td class="cell-left">{{ order.payload.doc.data().customerFirstName }}</td>
      <td class="cell-right">{{ order.payload.doc.data().customerName }}</td>
      <td class="cell-right">{{ order.payload.doc.data().customerCountry }}</td>
      <td class="cell-right">
        <span *ngFor="let seatOne of order.payload.doc.data().seatOneOrder">{{ seatOne }}   </span>
      </td>
      <td
        (click)="deleteOrder(order)"
        class="cell-right-border"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        href="/path/to/material-icons/iconfont/material-icons.css" rel="stylesheet">
        <span class="material-icons cursorPoint"
        >delete</span>  
      </td>
    </tr>
  </tbody>
</table>

