<!-- <h1>Administration</h1> -->

<div *ngFor="let order of seatOneOrders">
  <p class="text-session">Cher    
    <span><strong>{{ order.payload.doc.data().customerFirstName }} {{ order.payload.doc.data().customerName }}</strong> (qui a </span>
    <span><strong>{{ order.payload.doc.data().customerAge }}</strong> ans et qui habite en </span>
    <span><strong>{{ order.payload.doc.data().customerCountry }}</strong>), </span>
    <span>découvrons ici quelques exemples de requètes avec <strong>Cloud Firestore</strong> concernant nos hypothétiques spectateurs enregistrés :</span>
  </p>
</div>

<button type="submit" id="submit-button" routerLink="/graphic">Découvrir les graphiques</button>

