<section>
  <div *ngFor="let order of seatOneOrders" class="row">

    <div routerLinkActive="active" *ngIf="!isAuth"
    class="layout-resa-result-home">
      <p>Cher
        <span><strong>{{ order.payload.doc.data().customerFirstName }} </strong></span>
        <span><strong>{{ order.payload.doc.data().customerName }}, </strong></span>

        <span *ngFor="let seatOne of order.payload.doc.data().seatOneOrder">
          <br /><span>le siège
            <strong>{{ seatOne }}</strong> vous est bien réservé.
          </span>
        </span>
      </p>
      <p><span>Merci pour votre commande !</span></p>
    </div>

  </div>

  <!-- button > save choice on Firebase -->
  <button type="submit"
  id="submit-button"
  routerLink="/admin">Voir la partie administrateur</button>
</section>
