<section class="frame-notice">
  <p class="notice"><span class="title-notice"><strong>Etape 1</strong></span> : sélectionnez <strong class="color-notice">une seule image</strong> pour l'archivage de cet article</p>
  <p class="notice"><span class="title-notice"><strong>Etape 2</strong></span> : utilisez l'identifiant <strong class="color-notice">demo</strong> pour être autorisé à éditer</p>
  <p class="notice"><span class="title-notice"><strong>Etape 3</strong></span> : enregistrez l'image <strong class="color-notice">avant</strong> de passer au choix des textes</p>
</section>

<section class="frame-image-choice">
  <div class="card-body">
    <form [formGroup]="formTemplateArchive"
    (submit)="onSubmit(formTemplateArchive.value)">

      <div class="imageDisplay">
        <img [src]="imgSrc" width="650px" height="100%"
        class="image-radius">
      </div>

      <article class="imageDisplay-select">
        <button class="button-image"
        (click)="fileUploader.click()">
          <p class="image-text">
            <strong>Choisissez votre image d'archive</strong>
          </p>
        </button>
      </article>

      <div class="form-group up">
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
        (change)="showPreview($event)">
        <div class="text-danger down"
        *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Le choix de l'image est requis</div>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control textarea-image" formControlName="caption"
        placeholder="Saisissez votre identifiant" cols="50" rows="1"></textarea>
        <div class="text-danger down"
        *ngIf="isSubmitted && formControls.caption.errors?.required">Votre identifiant est requis</div>
      </div>

      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="articleAll" selected>Vous éditez l'image d'archive</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col md-6">
          <button type="submit"
          class="waves-effect waves-light button-submit-image">
            Enregistrer cette image
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<button type="submit"
class="waves-effect waves-light submit-button-next"
routerLink="/bookCs/new">Passer aux choix de textes</button>