<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

    <div *ngFor="let order of seatOneOrders; let i = index">
        <div *ngFor="let seat of order.payload.doc.data().seatOneOrder">

          <!-- <button type="submit"
              id="notAvailable"
              *ngIf="order.payload.doc.data().checked === false"
              disabled="{{ buttonDisabled }}">Je supprime le balcon 5</button> -->
    
          <button type="submit"
              id="submit-button"
              *ngIf="order.payload.doc.data().checked === true"
              [hidden]="order.isShow"
              (click)="markCompleted(order)"
              (click) = "onSaveOnFirebase()">Je supprime le balcon 5</button>

          <div *ngIf="order.payload.doc.data().completed">
            <button type="submit"
            id="submit-button-def"
            (click)="deleteOrder(order)"
            (click) = "onSaveOnFirebase()"
            routerLink="/home-result">Je confirme supprimer les données du balcon 5</button>
          </div>
    
        </div>
      </div>
</form>
