<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

    <div *ngFor="let order of seatOneOrders; let i = index">
        <div *ngFor="let seat of order.payload.doc.data().seatOneOrder">
    
          <button type="submit"
              id="submit-button"
              #toggleButton (click)="toggleMenu()"
              (click)="markCompleted(order)"
              (click) = "onSaveOnFirebase()">Je supprime le balcon 3</button>

          <button type="submit"
            id="notAvailable"
            *ngIf="seat === 'Balcon 3'"
            disabled="{{ buttonDisabled }}">Je supprime le balcon 3</button>

            <div class="menu" *ngIf="isMenuOpen" #menu>
              I'm the menu. Click outside to close me
              </div>

          <div *ngIf="order.payload.doc.data().completed">
            <button type="submit"
              id="submit-button-def"
              (click)="getSeatIds()"
              (click)="deleteOrder(order)"
              (click) = "onSaveOnFirebase()"
              routerLink="/home-result">Je confirme le balcon 3</button>
          </div>
    
        </div>
      </div>
</form>
