<section class="frame-notice">
  <p class="notice"><span class="title-notice"><strong>Etape 1</strong></span> : sélectionnez successivement <strong class="color-notice">les trois images</strong> qui vont illustrer cet article</p>
  <p class="notice"><span class="title-notice"><strong>Etape 2</strong></span> : utilisez à chaque fois l'identifiant <strong class="color-notice">demo</strong> pour être autorisé à éditer</p>
  <p class="notice"><span class="title-notice"><strong>Etape 3</strong></span> : enregistrez successivement les 3 images <strong class="color-notice">avant</strong> de passer au choix de l'image d'archive</p>
</section>

<section class="frame-image-choice">
  <div class="card-body">
    <form [formGroup]="formTemplate"
    (submit)="onSubmit(formTemplate.value)">

      <div class="imageDisplay">
        <img [src]="imgSrc" width="650px" height="100%"
        class="image-radius">
      </div>

      <article class="imageDisplay-select">
        <button class="button-image"
        (click)="fileUploader.click()">
          <p class="image-text">
            <strong>Choisissez votre image</strong>
          </p>
        </button>
      </article>

      <div class="form-group up">
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
        (change)="showPreview($event)">
        <div class="text-danger down"
        *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Le choix de l'image est requis</div>
      </div>

      <div class="form-group">
        <textarea type="text" class="form-control textarea-image" formControlName="caption"
        placeholder="Saisissez votre identifiant" cols="50" rows="1"></textarea>
        <div class="text-danger down"
        *ngIf="isSubmitted && formControls.caption.errors?.required">Votre identifiant est requis</div>
      </div>

      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="articleK" selected>Vous éditez l'article du centre en bas d'écran</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col md-6">
          <button type="submit"
          class="waves-effect waves-light button-submit-image">
            Enregistrer cette image
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<button type="submit"
class="waves-effect waves-light submit-button-next"
routerLink="/uploadArchiveK">Passer au choix de l'image d'archive</button>

<!-- <h2>Notice</h2>
<p class="notice">Etape 1 : enregistrez successivement <strong>les trois images</strong> qui vont illustrer cet article.</p>
<p class="notice">Etape 2 : utilisez l'identifiant <strong>demo</strong> pour être autorisé à éditer cet article.</p>
<p class="notice">Etape 3 : passer à la partie textes.</p>

<div class="card" style="width:25rem">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

      <div class="text-center">
        <img [src]="imgSrc" width="350px" height="250px"
        (click)="fileUploader.click()">
      </div>

      <div class="form-group">
        <label>Selectionner le fichier à télécharger</label>
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
        (change)="showPreview($event)">
        <div class="text-danger"
        *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Ce champs est requis.</div>
      </div>

      <div class="form-group">
        <input class="form-control" formControlName="caption"
        placeholder="Votre identifiant">
        <div class="text-danger"
        *ngIf="isSubmitted && formControls.caption.errors?.required">Votre identifiant est requis.</div>
      </div>

      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="articleK" selected>Article K</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col md-6">
          <button type="submit" class="btn btn-success btn-block float-right">
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<button type="submit"
class="waves-effect waves-light submit-button"
routerLink="/uploadArchiveK">Passer à la suite</button> -->
