<article class="col-xs-8">
  
  <div *ngFor="let i of rowIndexArray">
    <div *ngIf="i==0">
      <div class="layout-article-I">

        <span>

          <button class="btnfos-width-160 btnfos-5 submit-button-archives-top" 
          (click)="onBack()">Retour</button>

          <h3 class="title-archives">Archives</h3>

          <!-- hidden -->
          <div *ngFor="let i of rowIndexArray; let x = index">
            <div *ngIf="x==0">

              <!-- flex container - first > first item of an array -->
              <div *ngFor="let book of bookAlls; let i = index; trackBy: bookAllTitle; let isFirst = first"
                class="background-archives containerArchives">

                <img [src]="imageListAll[i].imageUrl" alt="images"
                class="img-archives btnfos-width-620 btnfos-3 star"
                (click)="onViewBookAll(i)" [ngClass]="{'starVisible': isFirst, 'star': i}">
                
                <a class="link-archives">
                  <div>

                    <div class="horizontalLine-archive-links-top"></div>

                    <div class="date-archives">
                      <p class="textDate-main">{{ book.timestamp | date:'fullDate' : '' : 'fr-FR' }} par <i class="textAuthor">{{ book.author }}</i></p>
                    </div>

                    <div (click)="onViewBookAll(i)"
                    class="archive-width-big">
                      {{ book.title }}
                    </div>

                    <div class="horizontalLine-archive-links-bottom"></div>

                  </div>
                </a>
                
              </div>
              <!-- end flex -->

            </div>
          </div>
          <!-- end hidden -->

        </span>

        <button class="btnfos-width-160 btnfos-5 submit-button-archives-bottom" 
        (click)="onBack()">Retour</button>

      </div>

    </div>
  </div>
</article>
