<h2>Notice</h2>
<p class="notice">Etape 1 : enregistrez successivement <strong>les trois images</strong> qui vont illustrer cet article.</p>
<p class="notice">Etape 2 : utilisez l'identifiant <strong>demo</strong> pour être autorisé à éditer cet article.</p>
<p class="notice">Etape 3 : passer à la partie textes.</p>

<div class="card" style="width:25rem">
  <div class="card-body">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

      <div class="text-center">
        <img [src]="imgSrc" width="350px" height="250px"
        (click)="fileUploader.click()">
      </div>

      <div class="form-group">
        <label>Selectionner le fichier à télécharger</label>
        <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
        (change)="showPreview($event)">
        <div class="text-danger"
        *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Ce champs est requis.</div>
      </div>

      <div class="form-group">
        <input class="form-control" formControlName="caption"
        placeholder="Votre identifiant">
        <div class="text-danger"
        *ngIf="isSubmitted && formControls.caption.errors?.required">Votre identifiant est requis.</div>
      </div>

      <div class="form-group">
        <select formControlName="category" class="form-control">
          <option value="articleI" selected>Article I</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col md-6">
          <button type="submit" class="btn btn-success btn-block float-right">
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<button type="submit"
class="waves-effect waves-light submit-button"
routerLink="/uploadArchiveI">Passer à la suite</button>
