.layout-resa-video {
    padding: 60px;
  }
  
  .media {
    margin: auto;
    width: 49%;
  }
  
  .video {
    margin-left: 1%;;
      padding-top: 12px;
  }
  
  .video video {
      width: 100%;
      margin: 0 auto;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }