<body>
  <h1 class="title verticalOptimisation">Réservation</h1>
  <form [formGroup]="this.ordersService.form">

    <div class="verticalOptimisation">
      <div class="mdc-text-field">
        <input
        size="42"
        placeholder="Prénom"
        formControlName="customerFirstName"
        type="text"
        id="fields"
        class="col s12">

        <!-- <div class="mdc-line-ripple"></div> -->
      </div>

      <div class="mdc-text-field">
        <input
        size="42"
        placeholder="Nom"
        formControlName="customerName"
        type="text"
        id="fields"
        class="col s12"/>

        <!-- <div class="mdc-line-ripple"></div> -->
      </div>

      <div class="mdc-text-field">
        <input
        size="42"
        placeholder="Pays"
        formControlName="customerCountry"
        type="text"
        id="fields"
        class="col s12"/>

        <!-- <div class="mdc-line-ripple"></div> -->
      </div>


      <ul>
        <li>

          <!-- <div *ngFor="let item of sortedData | keyValue">
            <h2>{{ item.key }}</h2>
          
            <div *ngFor="let obj of item.value">{{ obj.age }}</div>
          </div> -->


          <div *ngIf="showDiv.current">

            <!-- <div *ngFor="let seatOne of sortedData | keyValue">
              <h1>{{ seatName.key }}</h1> -->

              <app-seats
            class="input-field col s3"
            *ngFor="let seatOne of seatOnes; let i = index"
            [seatName]="seatOne.name" [seatFiche]="seatOne.fiche" [seatId]="seatOne.id" 
            [seatStatus]="seatOne.status"
            (click)="addSeatOne(seatOne.name)"
            [index]="i">
            </app-seats>
            
            <!-- </div> -->
          </div>
        </li>

        <li>
          <div *ngFor="let seatOne of seatOneOrder">
            <div *ngIf="showDiv.current" class="center">

              <span class="col s9 seat-display">
                <strong>{{ seatOne }}</strong>
              </span>

              <button class="col s9 change-mind"
              type="submit"
              class="waves-effect waves-light"
              id="change-mind-button"
              (click)="removeSeatOne(seatOne)">J'ai changé d'avis pour ce siège</button>

            </div>

            <div *ngIf="showDiv.current" class="whiteLineHorizontal"></div>
          </div>

        </li>
      </ul>

      <div class="center">

        <div (click)="showDiv.current = !showDiv.current;
            showDiv.previous = false;
            showDiv.next = false">
            <div *ngIf = "!showDiv.current">
              <button
              id="submit-button"
              (click) = "onFetchFromFirebase()">Afficher les sièges disponibles</button>
            </div>
        </div>

        <button type="submit"
        *ngIf="showDiv.current"
        id="submit-button"
        (click)="onSubmit()"
        (click) = "onSaveOnFirebase()">Placer dans l'admin*</button>

        <button class="waves-effect waves-light"
        *ngIf="showDiv.current"
        id="submit-button"
        routerLink="/confirmation">Valider ma commande*</button>

        <p *ngIf="showDiv.current" class="small-text">* deux boutons uniquement pour la démo.</p>

        <div (click)="showDiv.previous = !showDiv.previous;
        showDiv.current = false;
        showDiv.next = false"
        class="center">
            <button
            *ngIf="showDiv.current"
            id="close-button"
            (click) = "onFetchFromFirebase()">Cacher les sièges</button>
        </div>

      </div>

    </div>


  </form>
</body>
