<article class="background-single">
  <div class="row">
    <div class="col-xs-18 frame-top">

      <button class="btnfos-width-160 btnfos-5 submit-button-single-top buttons" (click)="onBack()">Retour</button>

      <div *ngFor="let i of rowIndexArray" class="image-top-single">
        <div *ngIf="i==0">
          <img [src]="imageList[1+i].imageUrl" width="720px" alt="images" class="img-fluid imageDisplay-top">
        </div>
      </div>

      <h1 class="title-big-single"><strong>{{ bookJ.title }}</strong></h1>
      <p class="textDate-single">{{ bookJ.timestamp | date:'fullDate' : '' : 'fr-FR' }} à {{ bookJ.timestamp | date:'shortTime' : '' : 'fr-FR' }} par <i class="textAuthor-single">{{ bookJ.author }}</i></p>

      <div id="conteneur">
        <div id="spacer"></div>

        <div *ngFor="let i of rowIndexArray" id="encart">
          <div *ngIf="i==0">
            <img [src]="imageList[2+i].imageUrl" alt="images" width="660px" class="img-fluid imageDisplay-text">
          </div>
        </div>

        <h3 class="text-single">{{ bookJ.texte }}</h3>
      </div>

      <button class="btnfos-width-160 btnfos-5 submit-button-single-bottom buttons" (click)="onBack()">Retour</button>
    </div>
  </div>
</article>
