<!-- part 09 - slider -->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
  <defs>
    <filter id="blur">
      <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
    </filter>
  </defs>
</svg>

<aside class="aside-slider">

  <div class="content">
    <div class="gallery animated-element">
      <ul class="gallery-pictures">
        <li class="gallery-picture">
          <img src="../../assets/img/slider/01.jpg" alt="img01">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/2.jpg" alt="img02">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/3.jpg" alt="img03">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/4.jpg" alt="img04">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/5.jpg" alt="img05">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/6.jpg" alt="img06">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/7.jpg" alt="img07">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/8.jpg" alt="img08">
        </li>
        <li class="gallery-picture">
          <img src="../../assets/img/slider/9.jpg" alt="img09">
        </li>
      </ul>
      <div class="gallery-pagination">
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
        <button class="gallery-pagination-dot"></button>
      </div>
    </div>
    <p class="title-for-slider">Click on a more distant dot to see the effect better.</p>
  </div>
</aside>
