<form #seatsForm="ngForm" [formGroup]="this.reservationService.form">

    <div *ngFor="let order of seatOneOrders; let i = index">
        <div *ngFor="let seat of order.payload.doc.data().seatOneOrder">
    
          <button type="submit"
              id="submit-button-def"
              *ngIf="order.payload.doc.data().checked === true"
              [hidden]="order.isShow || order.payload.doc.data().completed"
              (click)="markCompleted(order)"
              (click) = "onSaveOnFirebase()">Je supprime l'orchestre 21</button>
    
          <div *ngIf="order.payload.doc.data().completed">
            <button type="submit"
            id="submit-button-confirm"
            (click)="deleteOrder(order)"
            (click) = "onSaveOnFirebase()"
            routerLink="/admin">Je confirme supprimer les données de l'orchestre 21</button>
          </div>
    
        </div>
      </div>
</form>
