<div routerLinkActive="active" class="layoutFrame background-A">
  <div class="items">

    <div><img class="visual-Radius50Height25" src="../assets/matrixPictures/A.jpeg"></div>
    
    <div *ngFor="let matrix of matrixs">
      <h2 class="title-01">{{ matrix.items.a.name }}</h2>
      <h3 class="comment-01">{{ matrix.items.a.description }}</h3>
      <p class="price-add"><strong>{{ matrix.items.a.price }}</strong>€</p>
    </div>

    <h2 class="bigTitle">Suppléments</h2>

    <div class="whiteLineHorizontalAdd"></div>

    <label *ngFor="let item of priceAs">
      <input type="checkbox" [(ngModel)]="item.isChecked">
      <span class="spaceVerticalBetweenItems">
        <div class="spaceBetweenItemAndPrice">
          <div class="left">{{item.label}}</div>
          <div class="right">{{item.value | number : '1.2-2'}}€</div>
        </div>
      </span>
      <div class="whiteLineHorizontalAdd"></div>

    </label>

    <!-- nécessite dans a.module & a-routing.module > import { FormsModule, ReactiveFormsModule } from '@angular/forms'; -->
    <form [formGroup]="restoForm" (ngSubmit) = "submit()">
      <div class="left-284">
        <button type="submit"
        class="waves-effect waves-light submit-button"
        (click) = "onSaveTotalAOnFirebase()"
        (click) = "onSaveTotalCompleteAOnFirebase()"
        (click) = "onSaveTotalTvaAOnFirebase()"
        routerLink="/abcdefghijkl">Ajouter à la commande</button>
      </div>
    </form>
  </div>
</div>

<!-- affichage des résultats -->

<!-- <div routerLinkActive="active" class="menuFrameShushi-01 backgroundShushi">
  <div *ngFor="let price of itemPriceAs">
    <span class="supplementsPrices">Menu :
      <strong>{{ price.value }}</strong>
    </span>
    <span class="supplementsPrices">- Suppléments :
      <strong> {{ sumTotalPrices }}€</strong>
    </span>
    <span class="supplementsPrices">- Total :
      <strong> {{ price.value + sumTotalPrices }}€</strong>
    </span>
  </div>
</div> -->
