<section class="container">

  <div class="row">

    <div class="resa-left">
      <app-order-reservation-picture-ter class="layout-resa-picture-home"></app-order-reservation-picture-ter>
    </div>

    <div class="resa-right">

      <div class="background-query">
        <a routerLink="/graphic" class="links">Voir les analyses graphiques</a>
      </div>

      <div class="background-admin">
        <a routerLink="/admin" class="links">Supprimer les sièges sélectionnés</a>
      </div>

    </div>
  </div>

</section>
